body {
    background:linear-gradient(135deg, rgb(183, 74, 74),rgb(204, 191, 107)); 
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .converter {
    background:linear-gradient(135deg,#4A90E2,#ccc);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 320px;
  }


  .converter h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .input-group label {
    margin-bottom: 5px;
  }

  .input-group input,
  .input-group select {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }

  .convert-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #9b4ae2;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
  }

  .result-box {
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    background-color: #f8f9fa;
    border: 2px solid #d6e0eb;
    border-radius: 10px;
    color: #333;
  }

  .converter h2 img{
    width: 35px;
    height: 35px;
    margin-left: 10px;
   
  }
  